nav{
    margin-top: 0.65rem;
    margin-right:0 !important ;
}
.fw-semibold{
    font-family: sans-serif;
}
.btn{
    width: 9rem;
    height: 2.7rem;
}
p{
    margin: 0;padding: 0;
}
.fw-normal{
    margin: 0;
}
.mx-4{
    margin-right: 2.5rem !important;
}
.login,.contact{
    height: 2rem;
    width: 6rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
}
.contact{
    width: 8rem;
    padding-top: 0;
}
.con{
    padding-left: 0.6rem;
    text-decoration: underline;
}
.internet{
    margin-top: 0.7rem;
    margin-right: 1rem;
}
.search{
    margin-top: 1rem;
}
.banner-div{
    background-color: rgb(2,24,56);
}
.banner{
    height: 100%;
    width: 100%;
}
.heading1,.heading1-img{
    width: 50%;
}
.heading1-img{
    overflow: hidden;
}
.heading1 h1{
    font-size: 50px;
    width: 10.5em;
    color: #0b3250;
    position: relative;
    top: 4rem;
    left: 7rem;
}
.heading1 span{
    width: 4em;
    
    position: relative;
    top: 5rem;
    left: 7rem;
}
.heading1 p{
    color: blue;
    text-decoration: underline;
    position: relative;
    top: 3.5rem;
    left: 18rem;

}
.fw-semibold1{
    width: 15em;
    position: relative;
    top: 6em;
    left: 8em;
}
.fw-semibold2{
    width: 10em;
    position: relative;
    top: 6em;
    left: 10em;

}
.fluid{
    
    position: relative;
    top: 15rem;
} 
.fluid h1{
   position: relative;
   left: 28rem;
   top: 2.5rem;
    color: #0b3250;
}
.card-body h5{
    text-align: center;
    color: #0b3250;
}
.card-text {
    text-align: center  ;
}
.card-body span{
    position: relative;
    left: 5rem;
    color: blue;
}
   

.card img{
    border-radius: 100%;
    

}
.card{
    border: none !important;
}
.fluid1{
    
    position: relative;
    top: 18rem;
} 
.fluid1 h1{
    position: relative;
    left: 28rem;
    top: 2.5rem;
     color: #0b3250;
 }
 .card-text1{
    color: blue;
 }
 .conatiner-fluid1{
    position: relative;
    top: 5rem;
 }
 .card1{
    width: 25rem;
 }
 .conatiner-fluid3{
    position: relative;
    left: 25rem;
 }
 .conatiner-fluid3 img{
    height: 35em;
    width: 40em;
 }
 .fluid2{
    text-align: center;
    position: relative;
    top: 28rem;
 }
 .fluid3 h1{
    position: relative;
    top: 35rem;
    left: 8rem;
    color: #0b3250;

 }
 .card2{
    
    position: relative;
    top: 38rem;
    left: 8rem; 
 }
 .card2 img{
    height: 20rem;
    width: 30rem;
 }
 .card2,.btn{
    
    width: 12rem;
 }
 .card-title2{
    color:  rgb(2,24,56);
 }
 .conatiner-fluid4{
    position: relative;
    left: 20rem;
    top: 10rem;
 }
 .conatiner-fluid4 img{
    height: 10rem;
    width: 25rem;
 }
 .conatiner-fluid4 h4{
    color: blue;
 }
 .fluid4{
    text-align: center;
    position: relative;
    top: 12rem;
    color: #0b3250;
  
 }
 .conatiner-fluid5{
    height: 20rem;
    width: 60rem;
    position: relative;
    top: 6rem;
    left: 18rem;
 }
 .card-text3{
    padding: 2rem;
    color: blue;
 }
 .card3,.btn{
    padding: 3rem;
    
 }
 .fluid5{
    text-align: center;
    position: relative;
    top: 22rem;
    color: #0b3250;
 }
 .conatiner-fluid6{
    height: 20rem;
    width: 60rem;
    position: relative;
    top: 10rem;
   left: 18rem;
 }
 .card-text5{
    padding: 2rem;
    color: rgb(14, 191, 231);
 }
 .card-text6{
    text-align: center;
    columns: blue;
 }
 .conatiner-fluid7{
    height: 20rem;
    width: 60rem;
    position: relative;
    top: 10rem;
   left: 18rem;
 }
 .conatiner-fluid8{
    height: 20rem;
    width: 60rem;
    position: relative;
    top: 3rem;
   left: 40rem;
 }
 .conatiner-fluid8 img{
    height: 30rem;
    width: 50rem;
    /* position: relative;
    top: 10rem;
   left: 18rem; */
 }
 .card5{
    width: 30rem;
    position: relative;
    top: 20em;
    right: 10rem;
 }
.card-title5{
    font-size: 30px;
    color: #0b3250;
}

 .text-center{
    position: relative;
    top: 1rem;
   
 }   
 
 